.navbar {
    background-color: purple;
}

.meme {
    position: relative;
    text-align: center;
    color: black;
}

.meme .topText {
    position: absolute;
    z-index: 1;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
}

.meme .bottomText {
    z-index: 1;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 100px;
}

.memeTextEntryForm {
    font-size: 20px;
}

.inputField {
    display: flex;
}



#root {
	font-family: "Indie Flower", cursive;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
	background-image: url("./pages/resources/background.jpg");
}

h1 {

}

.content {
    display:flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    position: relative;
    top: 5%;
}

.header .Logo {
    margin-left: 25%;
    max-width: 50%;
}

.woodBackground {
    background-image: url("./pages/resources/wood-panels.jpg");
    height: 100%;;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}

.navigationBar {
    display: flex;
    max-width: 100%;
    height: 15%;
    border: 4px solid black;
    margin-top: -4px;
}

.navigationBar .buttonContainer {
    display: flex;
    justify-content: center;
    width: 25%
}

.navigationBar .pageTitle {
    display: flex;
    justify-content: center;
    width: 50%;
}

.body {
    display: flex;
    position: relative;
    height: 85%;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.body .divider {
    display: flex;
    flex-basis: 0%;
    flex-shrink: 1;
    flex-grow: 1;
    flex-direction: column;
    height: 100%;
    text-align: center;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.divider .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    width: 100%;
}

.divider .button {
    width: 60%;
    height: 20vh;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(48, 184, 52);
    transition: all 0.5s ease;
    color: white;
}

.body .dividerText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 2;
    flex-basis: 0%;
    text-align: center;
    padding-top: 5%;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.dividerText .button {
    width: 60%;
    height: 5vh;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20%;
    background-color: rgb(48, 184, 52);
    transition: all 0.5s ease;
    color: white;
}

.divider .Character {
    width: 60%;
    height: 60%;
    margin-left: 20%;
    margin-right: 20%;
}